<script>
	let current = "";
</script>

<button class="btn btn-secondary"
	class:active="{current === 'messi'}"
	on:click="{() => current = 'messi'}"
>Messi</button>

<button class="btn btn-secondary"
	class:active="{current === 'ronaldo'}"
	on:click="{() => current = 'ronaldo'}"
>Ronaldo</button>

<button class="btn btn-secondary"
	class:active="{current === 'neymar'}"
	on:click="{() => current = 'neymar'}"
>Neymar</button>

<style>
	.active {
		background-color: rgb(224, 134, 134);
		color: white;
	}
</style>