<p style = "font-size:26px; color:steelblue; font-family: Times New Roman, serif">
    I 
    <span style = "color:skyblue;">            
        really
    </span> 
    like data visualisation!
</p>
