<script>
    const me = {
        name: 'Aleksandra',
        favorite_things: ["movie \"The Wild Tales\"", "eating burgers", "chich clothing", "Daft Punk's \"Instant Crush\"", "dancing"]
    }
</script>

<p>My name is {me['name']}, and these are some of my favorite things: 
{me['favorite_things'][0]}, {me['favorite_things'][1]}, {me['favorite_things'][2]}, {me['favorite_things'][3]}, and {me['favorite_things'][4]}.</p>
