<script>
  $: n = 0;
  function click(){
    n = n + 1
  };
  function reset(){
    n = 0
  };
</script>

<button class="btn btn-primary" on:click={click}>
  Clicked {n} times
</button>

<input class="btn btn-danger" type="button" on:click={reset} value="Reset">

