<script>
  import {scaleLog} from 'd3-scale';
  import {select} from 'd3-selection';
  import {axisBottom} from 'd3-axis';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 30, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const buffer = 50;

  const values = [2, 4, 6, 7, 9];

  const scaleX = scaleLog().domain([1, 9]).range([0, 800])
  
 function makeXaxis(x){
    let xAxis = axisBottom(scaleX);
    select(x).call(xAxis);
 }
 </script>

<style>
  circle {
    fill: steelblue;
  }
</style>

<svg viewBox="0 0 {width + buffer} {height + buffer/5}">
  <g transform="translate({margin.left},{margin.top})" text-anchor="middle">
    {#each values as value}
    <circle cx={scaleX(value)} cy={height / 2} r=10 />
  {/each}
  <g transform="translate({margin.left},{innerHeight + margin.top})" use:makeXaxis></g>
    <text fill="currentColor" font-size="13" y="100" x="{(width + buffer) / 2}">
      {"x Label"}
    </text>

  </svg>