<script>
  import { scaleLinear } from 'd3-scale';
  import { scaleOrdinal } from 'd3-scale';
  import { schemeDark2, schemeRdGy } from 'd3-scale-chromatic';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  const scaleX = scaleLinear().domain([0, 10]).range([0, innerWidth]);
  const scaleY = scaleLinear().domain([0, 3]).range([innerHeight, 0]);
	const scaleColor = scaleOrdinal(schemeDark2);

</script>

<style>
  line {
    stroke: black;
  }
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
    <line x1={scaleX(value.x)} 
          y1={scaleY(value.y)} 
          x2={scaleX(value.x)} 
          y2={innerHeight}/>
    <circle cx={scaleX(value.x)} cy={scaleY(value.y)} r=6 style={"fill:" + scaleColor(value.category)}/>
    <text class=valueLabel x={scaleX(value.x)} y={scaleY(value.y)-10}>{value.y}</text>
  {/each}
  </g>
  
  <line x1={margin.left} 
        x2={width-margin.right} 
        y1={height-margin.bottom} 
        y2={height-margin.bottom}/>
</svg>

